@import '../../../colors.scss';

:host {
    padding: 4px 6px;
    background-color: $background-color-primary;
    box-shadow: 0 0 6px $background-color-primary-shadow;
    display: inline-block;
    width: 160px;
}
