<button
    *ngIf="deletable"
    class="row__delete"
    type="button"
    (click)="delete.emit(index)">

    X
</button>

<ng-container *ngIf="isHeader; else regularRow">
    <app-cell
        *ngFor="let column of columns"
        class="row__cell"
        [data]="column.name"
        [changable]="false">
    </app-cell>
</ng-container>

<ng-template #regularRow>
    <app-cell
        *ngFor="let column of columns"
        class="row__cell"
        [data]="data[column.key]"
        (update)="updateCellCallback(column.key, $event)">
    </app-cell>
</ng-template>
