<app-row
    [columns]="columns"
    [is-header]="true"
    [deletable]="false">
</app-row>

<div class="new-row-title">Add new row</div>
<app-row
    class="new-row"
    [columns]="columns"
    [data]="newRowData"
    [deletable]="false"
    [new-row]="true"
    (update-cell)="updateNewCell($event)"
    (create-row)="createNewRow()">
</app-row>

<app-row
    *ngFor="let rowData of data; index as i"
    [index]="i"
    [columns]="columns"
    [data]="rowData"
    (delete)="rowDelete.emit($event)"
    (update-cell)="updateCellCallback(i, $event)">
</app-row>
