<app-row
    [columns]="columns"
    [is-header]="true"
    [deletable]="false">
</app-row>

<button
    class="new-row-button"
    (click)="createNewRow()">
    
    Add new row
</button>

<app-row
    class="new-row"
    [columns]="columns"
    [data]="newRowData"
    [deletable]="false"
    (update-cell)="updateNewCell($event)"
    (create-row)="createNewRow()">
</app-row>

<app-row
    *ngFor="let rowData of data; index as i"
    [index]="i"
    [columns]="columns"
    [data]="rowData"
    (delete)="rowDelete.emit($event)"
    (update-cell)="updateCellCallback(i, $event)">
</app-row>
