@import '../../../colors.scss';

:host {
    display: block;
    overflow-x: auto;
    box-shadow: 0 0 6px $background-color-primary-shadow;
}

.new-row-title {
    margin: 25px 0 5px 15px;
}

.new-row {
    margin-bottom: 25px;
}
